.nav-bg {
  background-color: #f89436;
  border-bottom: 1px solid rgb(248, 202, 202);
}

.text-color {
  color: rgb(255, 231, 231) !important;
}

.log-and-out-btn {
  border: 1px solid rgb(17, 15, 15);
}

/* .text-color:hover{
    color:rgb(13, 22, 32) !important;
} */

/* .title{
    font-size: 25px !important;
}


.log-and-out-btn:hover{
    color:white !important;
} */
